body{
  background:linear-gradient(rgba(21, 23, 97, 0.842),transparent);
  background-color:rgba(21, 23, 97, 0.616);
}

.App {
  text-align: center;
  
}

.input-group{
  width: 60%;
}

.card{
  max-width: 100%;
  background:linear-gradient(rgba(21, 23, 97, 0.842),transparent);
  background-color:rgba(21, 23, 97, 0.616);
}

.card-title{
  position: absolute;
  padding: 20px;
}

.card-date{
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
}

.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
}